.gameover {
  z-index: -1;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.opening {
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.table {
  border-collapse: separate;
  border-spacing: 5px;
}

.opening h2 {
  font-size: 80px;
}

.startB:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
  cursor: pointer;
}

.row {
  display: table;
  table-layout: fixed;
  margin: 10px;
}

.table_cell {
  display: table-cell;
  width: 76px;
  height: 125px;
  border: solid black 1px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.back:hover {
  opacity: 1;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 1;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  opacity: 0.5;
}

nav {
  display: grid;
  justify-content: end;
}

.next_button {
  opacity: 0;
  text-align: right;
  height: 40px;
  width: 130px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px double #a44545;
  border-radius: 9px;
  color: inherit;
  padding: 0;
  outline: inherit;
}

.next_button:hover {
  cursor: pointer;
}

.restart:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
  cursor: pointer;
}

.left_box {
  grid-area: main;
  background-color: rgb(236, 236, 236);
}

.right_box {
  display: grid;
  grid-area: side;
  justify-content: center;
  background-color: gray;
  padding: 10px;
  border: 1px solid black;
}

main {
  display: grid;
  justify-content: center;
}

.container {
  max-width: 800px;
  height: 600px;
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto;
  grid-template-areas: "main side";
}

.game_mode {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px double #a44545;
  border-radius: 9px;
  text-align: right;
  width: 550px;
  height: 50px;
  padding: 0 5px;
  margin: 5px 10px;
}

.display h4 {
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px double #a44545;
  border-radius: 9px;
  text-align: center;
}

.display2 {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
}

.display3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
  width: 180px;
  font-size: 12px;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}

#countdown {
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px double #a44545;
  height: 50px;
  width: 50px;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

.lives {
  display: inline-block;
}

button {
  background-color: white;
  border: 2px solid #555555;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.picked {
  background-color: rgb(106, 190, 106);
  color: black;
  border: 2px solid #555555;
}

.socials {
  height: 20px;
  width: 20px;
  padding: 0 5px;
}

.disclaimer {
  text-align: left;
  padding: 2px;
}

.dogback {
  background-image: url("cards/wallpapers/dogwall.png");
  background-size: cover;
}

.animeback {
  background-image: url("cards/wallpapers/animewall.png");
  background-size: cover;
}

.foodback {
  background-image: url("cards/wallpapers/foodwall.png");
  background-size: cover;
}
